name: (Cloud None) - Build and deploy Azure Web App

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: Publish
        run: dotnet publish backend/backend.csproj -c Release -o ./publish

      - name: Zip published output
        run: zip -r app.zip ./publish

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: published-app
          path: app.zip
  
  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read
  
    steps:
      - name: Download published artifact
        uses: actions/download-artifact@v4
        with:
          name: published-app
  
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_0B9E4A66461C4909AA8D743B057946B3 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_010608F35CFE42D9864E75CF7E54B502 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_D25C9158BE0748B8BBE83E92CF6B5698 }}
  
      - name: Deploy to Azure
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'cloud-nine'
          package: app.zip
